@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.center {
  padding-left: calc(50% - 1250px / 2);
  padding-right: calc(50% - 1250px / 2);
}
.top {
  background: #f6f2f2;
  padding-top: 29px;
  padding-bottom: 110px;
}
.header {
  background-color: rgba(0, 0, 0, 0.8);
}

.menu__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.49px;
  text-transform: uppercase;
  color: #e0e0e0;
  padding: 38px 23px 26px;
  display: flex;
}
.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.menu__link:hover {
  background: #ff3f40;
}
.menu__link_active {
  background: #ff3f40;
}
.top__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 101px;
}
.top__info {
  width: 617px;
}
.top__text {
  width: 544px;
  margin-top: 37px;
  margin-bottom: 64px;
}
.top__video {
  width: 553px;
  height: 359px;
  box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}
.title {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  height: 117px;
}
span {
  letter-spacing: 6px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  height: 73px;
}
.btn {
  width: 227px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  background-color: #ff2d2d;
  border-radius: 5px;
}
/* 2 */

.service__content {
  width: 538px;
}
.heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
}
.service__content p {
  margin-bottom: 64px;
  height: auto;
}
.service__button {
  width: 227px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: #ff2d2d;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #FF0000;
  transition: all 0.4s ease;;
}
.service__button:hover {
  color: #ffffff;
  background-color: #ff2d2d;
}
.service__info {
  width: 609px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 52px;
}
.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  padding-top: 108px;

}
.service__item {
  flex-grow: 1;
  flex-basis: 290px;
}
.service__heading {
  margin-top: 30px;
  margin-bottom: 13px;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;

}
.service__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  border-bottom: 5px solid #ececec;
  padding-bottom: 98px;
}
.service__item p {
  height: auto;
}
.gear:hover {
  animation: 5s linear rotateR infinite;
}
@keyframes rotateR {
  to {
    transform: rotate(360deg);
  }
}
.pencil {
  bottom: 0px;
  position: relative;
  left: 0px;
}
.pencil:hover {
  animation: 0.6s ease-in-out writing infinite,
  0.6s ease-in-out rightwriting infinite;
}
@keyframes writing {
  from {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
  to {
    bottom: 0px;
  }
}
@keyframes rightwriting {
  from {
    left: 0px;
  }
  100% {
    left: 20px;
  }
}
.truck {
  position: relative;
  left: 0px;
}
.truck:hover {
  animation: 0.6s ease-in-out rightwriting infinite;
}
@keyframes rightwriting {
  from {
    left: 0px;
  }
  100% {
    left: 30px;
  }
}
.diamond {
  transition: all 0.4s ease;
}
.diamond:hover {
  transform: scale(1.3);
}