@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

$mainColor: #ff2d2d;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

html {
    scroll-behavior: smooth;
  }
  
body {
  font-family: "Open Sans", sans-serif;
}

.section_center {
  padding-left: calc(50% - 1250px / 2);
  padding-right: calc(50% - 1250px / 2);
}
.section__intro {
  background: #f6f2f2;
  padding-top: 101px;
  padding-bottom: 110px;
}
.header {
  background-color: rgba(0, 0, 0, 0.8);
}
.header__mobile {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.menu__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.49px;
  text-transform: uppercase;
  color: #e0e0e0;
  padding: 38px 23px 26px;
  display: flex;
}
.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu__link:hover {
  background: #ff3f40;
}
.menu__link_active {
  background: #ff3f40;
}
.section__intro__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
    .section__intro__info {
        width: 617px;
    }
}
.section__intro__title {
  margin-bottom: 37px;
}
.section__intro__text {
  width: 544px;
  margin-bottom: 64px;
}
.section__intro__video {
  width: 553px;
  height: 359px;
  box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}
.title {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  height: 117px;
}
span {
  letter-spacing: 6px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-height: 100%;
}
.btn {
  width: 227px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  background-color: $mainColor;
  border-radius: 5px;
}
/* 2 */

.service__content {
  width: 538px;
}
.heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
}
.service__content p {
  margin-bottom: 64px;
  height: auto;
}
.service__button {
  width: 227px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: $mainColor;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #ff0000;
  transition: all 0.4s ease;
}
.service__button:hover {
  color: #ffffff;
  background-color: $mainColor;
}
.service__info {
  width: 609px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 52px;
}
.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  padding-top: 108px;
  position: relative;
    &__item {
        flex-grow: 1;
        flex-basis: 290px;
    }
}

.gear,
.pencil,
.diamond, 
.truck {
  margin-bottom: 30px;
}

.service__heading {

  margin-bottom: 13px;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
}
.service__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
}
.service__box::after {
  content: "";
  position: absolute;
  width: 1248px;
  height: 2px;
  background: #ececec;
  bottom: -50px;
}
.service__item p {
  height: auto;
}
.gear:hover {
  animation: 5s linear rotateR infinite;
}
@keyframes rotateR {
  to {
    transform: rotate(360deg);
  }
}
.pencil {
  bottom: 0px;
  position: relative;
  left: 0px;
}
.pencil:hover {
  animation: 0.6s ease-in-out writing infinite,
    0.6s ease-in-out rightwriting infinite;
}
@keyframes writing {
  from {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
  to {
    bottom: 0px;
  }
}
@keyframes rightwriting {
  from {
    left: 0px;
  }
  100% {
    left: 20px;
  }
}

.truck {
  position: relative;
  left: 0px;
}
.truck:hover {
  animation: driving 2s linear infinite;
}
@keyframes driving {
  35% {
    transform: translateX(150px);
  }
  50% {
    transform: translateX(150px) scaleX(-1);
  }
  85% {
    transform: translateX(0px) scaleX(-1);
  }
}

.diamond {
  transition: all 0.4s ease;
}
.diamond:hover {
  transform: scale(1.3);
}

/* 3 */

.products {
  padding-top: 150px;
}

.heading_center {
  text-align: center;
  margin-bottom: 28px;
}
.text_width_500 {
  width: 536px;
  margin: auto auto 124px;
  text-align: center;
  position: relative;
}
.text_width_500::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 2px;
  background: $mainColor;
  left: 38%;
  top: 120%;
}

.gallery-filters__item {
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.22px;
  text-transform: uppercase;
  color: #000000;
}
.gallery-filters__item:hover {
  color: $mainColor;
}
.gallery-filters__item_active {
  color: $mainColor;
}

.products__gallery__filters {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.products__gallery__images {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-top: 58px;
}
.gallery-images__item {
  display: flex;
}

/* 4 */

.section__team {
  margin-top: 132px;
  padding-left: calc(50% - 641px);
  padding-bottom: 115px;
}

.section__team__description {
  margin-bottom: 109px;
}

.text_description {
  width: 450px;
}

.section__team__description__text {
  position: relative;
}

.section__team__description__text::after {
  content: "";
  position: absolute;
  width: 125px;
  height: 2.2px;
  background: $mainColor;
  left: 0;
  top: 150%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section__team__content {
  display: flex;
  gap: 75px;
}
.team__heading {
  margin-bottom: 35px;
}
.team__info__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.275265px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 29px;
}

.team__info__text {
  max-width: 650px;
  margin-bottom: 45px;
}

.team__links {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin-bottom: 56px;
}

.team__link {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team__link:hover {
  text-decoration: underline;
}
.team__person {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

}
.team__gallery__photo {
  display: flex;
  justify-content: center;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}

.team__gallery__name-box {
  background: #00000050;
  mix-blend-mode: normal;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 10px;
  left: -100%;
  transition: left 0.3s;
}
.team__gallery__name {
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.team__gallery__photo:hover .team__gallery__name-box {
  left: 0;
}

/* 5 */

.subscribe {
  padding-top: 151px;
  padding-bottom: 140px;
  background: #2d2d2d;
  text-align: center;
}
.heading_reverse {
  color: #ffffff;
  text-transform: none;
  margin-bottom: 16px;
}

.text_reverse {
  color: #ffffff;
  height: auto;
}
.subscribe__text {
  margin-bottom: 56px;
}
.subscribe__form {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: stretch;
}
.subscribe__input {
  width: 524px;
  height: 82px;
  background-color: white;
  border-radius: 5px;
  outline: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #2c2c2c;
  padding-left: 36px;
  padding-right: 36px;
  box-sizing: border-box;
  border: none;
}

.subscribe__button {
  background-color: $mainColor;
  padding-left: 56px;
  padding-right: 56px;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  align-items: center;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid transparent;
  box-sizing: border-box;
  transition: all 0.3s linear;
  cursor: pointer;
}
.subscribe__button:hover {
  background-color: white;
  color: $mainColor;
  border: 2px solid $mainColor;
}

/* 6 */

.contacts {
  padding-top: 104px;
  padding-bottom: 107px;
  padding-left: calc(50% - 1250px / 2);
}
.contacts__heading {
  margin-bottom: 45px;
}
.contacts__text {
  position: relative;
  margin-bottom: 137px;
  width: 750px;
}

.contacts__text::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 2px;
  background: $mainColor;
  left: 0;
  top: 180%;
}
.contacts__form {
  width: 734px;
  display: grid;
  grid-row-gap: 43px;
  grid-column-gap: 52px;
  grid-template-columns: repeat(2, 1fr);
}
.contacts__input {
  height: 69px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.3px;
  color: #000000;
  background: #00000010;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.contacts__input_textarea {
  height: 252px;
  padding-top: 32px;
  padding-bottom: 32px;
  resize: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-column: 1 / -1;
}

.contacts__button {
  height: 75px;
  left: 163px;
  top: 4672px;
  background: #ff3b3b;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  grid-column: 1 / -1;
  box-sizing: border-box;
  transition: all 0.3s linear;
  cursor: pointer;
}
.contacts__button:hover {
  background-color: white;
  color: $mainColor;
  border: 2px solid $mainColor;
}
.contacts__content {
  display: flex;
  gap: 104px;
  flex-wrap: wrap;
}

.contacts__info {
  background: #2d2d2d;
  padding-left: 81px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  flex-grow: 1;
}
.contacts__info__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.contacts__info__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  width: 315px;
}

*::placeholder {
  color: black;
}

/* footer */

.footer {
  padding-top: 47px;
  padding-bottom: 31px;
  background: #313030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links {
  display: flex;
  gap: 18px;
}
.footer__text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #B8B8B8;
}
.footer__icon {
  width: 33px;
  height: 33px;
}

.footer__link__picture:hover {
  background-color: $mainColor;
  border-radius: 50%;
}


@media (max-width: 1246px) {
  .service__box::after {
    width: 610px;
  }
  .section_center,
  .contacts {
    padding-left: calc(50% - 734px / 2);
    padding-right: calc(50% - 734px / 2);
  }
  .section__intro__info,
  .service__content,
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__intro__title,
  .heading {
    text-align: center;
    margin-bottom: 56px;
  }
  .section__intro__video {
    width: 100%;
    object-fit: cover;
  }
  .service__box {
    justify-content: center;
  }
  .section__intro__content {
    gap: 32px;
    justify-content: center;
  }
  .products__gallery__images {
    justify-content: center;
  }
  .section__team__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts__info {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .team__gallery__photo {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .section_center {
    padding-left: calc(50% - 734px / 2);
    padding-right: calc(50% - 734px / 2);
  }
  .contacts {
    padding-left: calc(50% - 734px / 2);
    padding-right: calc(50% - 734px / 2);
  
    padding-bottom: 32px;
  }
  .section__intro__video {
    width: 100%;
  }
  .service__box {
    justify-content: center;
  }
  .section__intro__content {
    gap: 32px;
    justify-content: center;
  }
  .products__gallery__filters {
    gap: 26px;
  }
  .products__gallery__images {
    justify-content: center;
  }
  .section__team__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__team__description__text::after {
    left: 35%;
    top: 150%;
}
  .section__team__content {
    gap: 32px;
    align-items: flex-end;

  }
  .team__person {
    width: 250px;
    height: 454px;
  }
  .contacts__text {
    width: 100%;
  }
  .contacts__info {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    
  }
  .header__nav {
    width: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.6s linear;
  }
  nav.active {
    width: 100%;
  }
  .menu__burger {
    display: flex;
    list-style-type: none;
    width: 0;
    transition: width 0.6s linear;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
  }
  nav ul {
    width: 50%;
    position: relative;
    top: 150px;
  }
  nav.active ul {
    width: 50%;
    position: relative;
    top: 150px;
  }
  nav ul li {
    opacity: 0;
    transition: opacity 0.4s ease-in;
    pointer-events: none;
  }
  nav.active ul li {
    opacity: 1;
    pointer-events: all;
  }
  .menu_icon {
    background: none;
    border: 0;
    cursor: pointer;
    position: relative;
    height: 30px;
    width: 30px;
  }
  .menu_icon:focus {
    outline: 0;
  }
  .menu-icon__line {
    background-color: white;
    height: 2px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }
  .menu-icon__line:nth-child(2) {
    top: auto;
    bottom: 10px;
  }
  nav.active .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }
  nav.active .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }
  .header {
    display: none;
  }
  .header__mobile {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
  }
  .menu__link {
    font-size: 12px;
    padding: 30px 50px 25px 50px;
    
  }
  .menu__link_active {
    background: none;
  }
  .menu__item {
    height: 79px;  
  }
  .section__intro__title {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .section_center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
  }
  .section__intro {
    padding-bottom: 81px;
    padding-top: 45px;
}
  .section__intro__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .meet__content {
    flex-direction: column;
    text-align: center;
  }
  .text {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
  }
  .section__intro__video {
    height: 200px;
  }
  .heading {
    font-size: 32px;
    text-align: center;
  }
  .service {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 80px;
  }
  .service__box {
    gap: 60px;
  }
  .service__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products {
    padding-top: 100px;
  }
  .products__gallery__filters {
    flex-wrap: wrap;
  }
  .products__gallery__images {
    gap: 12px; 
  }
  .section__team {
    flex-direction: column;
  }
  .section__team__content {
    flex-direction: column;
    align-items: center;
  }
  .team__gallery__photo {
    width: 45%;
  }
  .team__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__links {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 18px;
  }
  .team__gallery {
    justify-content: center;
  }
  .subscribe {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__input,
  .subscribe__button {
    width: 100%;
    height: 62px;
  }
  .contacts {
    padding-top: 60px;
  }
  .contacts__form {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
  .contacts__info {
    padding-left: 32px;
    padding-right: 16px;
  }
  .contacts__text {
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
  .contacts__text::after {
    left: 33%;
    top: 200%;
  }
  .footer {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .text_width_500::after {
    left: 33%;
  }
  .section__team__description__text::after {
    left: 33%;
  }
  .contacts__input,
  .subscribe__input {
    padding-left: 30px;
  }
  .service__box::after {
    width: 350px;
  }
  .text_width_500 {
    margin: auto auto 70px;
  }
  .section__team {
    margin-top: 60px;
  }
  .section__team__description {
    margin-bottom: 85px;
  }
  .section__team {
    padding-bottom: 80px;
  }
  .contacts__content {
    gap: 65px;
  }
  .gallery-images__item {
    width: 45%;
  }
}

@media (max-width: 374px) {
  .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .menu__link {
    padding: 30px 0px 25px;
    width: 160px;
    display: block;
    text-align: center;
  }
  .section__intro__title {
    font-size: 30px;
  }
  .service__box::after {
    width: 300px;
  }
  .contacts__info {
    padding-left: 20px;
    padding-right: 0px;
  }
  .subscribe__input, .subscribe__button {
    width: 90%;
  }
  .team__links {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .team__info__text {
    margin-bottom: 20px;
  }
  .subscribe__form {
    align-items: center;
}
}
// width: ($widthSite - 2 * &gap) / 3; - makes 3 items of the same width on a page